name: Docker-Mod

on:
  workflow_dispatch:
  release:
    types: [ published ]
    #    branches: [ master ]
    tags: [ v* ]

jobs:
  build_docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        image: [nps, npc]
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Set env
        run: |
          echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
          echo "GITHUB_ACTOR_LOWER=$(echo '${{ github.actor }}' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry (GHCR)
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push ${{ matrix.image }}
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./${{ matrix.image }}.Dockerfile
          platforms: linux/amd64,linux/arm,linux/arm64,linux/386,linux/ppc64le,linux/s390x
          push: true
          cache-from: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/djylb-${{ matrix.image }}:cache
          cache-to: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/djylb-${{ matrix.image }}:cache,mode=max
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/djylb-${{ matrix.image }}:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/djylb-${{ matrix.image }}:${{ env.RELEASE_VERSION }}
            ghcr.io/${{ env.GITHUB_ACTOR_LOWER }}/djylb-${{ matrix.image }}:latest
            ghcr.io/${{ env.GITHUB_ACTOR_LOWER }}/djylb-${{ matrix.image }}:${{ env.RELEASE_VERSION }}
